body {
  background-color: #625261;
}

.container {
  width: 500px;
  height: 500px;
}

.grid {
  width: 400px;
  height: 400px;
  background-color: #89beb3;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  justify-content: center;
}

.valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
  font-size: 30px;
  justify-content: center;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
  font-size: 30px;
  justify-content: center;
}
.bomb {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.flag:before {
  content: "🍔";
  z-index: -100;
}

.one {
  color: pink;
  font-size: 30px;
}

.two {
  color: #41aea9;
}

.three {
  color: #835858;
}

.four {
  color: #6a2c70;
}
/* font a6a6a4
font2 e8e8e8 */
